body {
	background-color: #4c00ff;
	color: #f80000;
	font-size: 18px;
	padding: 1em 8em;
	line-height: 4rem;
}

p {
	text-indent: 2rem;
}

header, main {
	margin: 1.5em;
	padding: 1em;
}

header, h2, h3, h4 {
	text-align: center;
	font-size: 2.5rem !important;
}

a:link, a:visited, a:active {
	border: 2px solid lightblue;
	border-radius: 2px;
	color: #d8ff7d;
}

a:hover, a:focus {
	background-color: #ffff00;
	color: #ffaa50;
}

table {
	border-spacing: 0;
	border-collapse: separate;
}

table td {
	background-color: #dd0000;
	border: 1px solid #000000;
	color: #1fff01;
	margin: 0;
	padding: .5em;
}

table tr {
	margin: 0;
	padding: 0;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: %;
}

.favorite-thing {
	background-color: #ff0000;
	color: #000000;
	margin: 1.5em 0;
	padding: 1em;
}